# Default ignored files
/shelf/
/workspace.xml
/deployment.xml
# Datasource local storage ignored files
/../../../../../../../:\jeffe\Documents\Programming\clion\regmap\.idea/dataSources/
/dataSources.local.xml
